:root {
    --bg-color: #2e2b2b;
    --border-font-color: #bdb3b3;
    --button-red-color: #f10a0a;
    --button-blue-color: #275caf;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

body {
    background-color: var(--bg-color);
}
